<ion-header>
  <ion-toolbar>
    <ion-title>change</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding (scroll)="qq()" id="content" appMyscroll [scrollY]="qq()">
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
<ion-item>aa</ion-item>
</ion-content>
