<ion-content padding>
    <ion-title text-center>
        <div>Office</div>
        <div>Management</div>
    </ion-title>
    <ion-list>
        <form [formGroup]="loginForm">
            <div class="input-container">
                <ion-item>
                    <ion-input name="email" formControlName="email" placeholder="Enter email"></ion-input>
                </ion-item>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" color="danger" class="alert alert-danger">
                    <span class="error-msg">{{ getErrorMessage('email') }}</span>
                </div>
            </div>
            <div class="input-container">
                <ion-item>
                    <ion-input name="password" type="password" formControlName="password"
                               placeholder="Enter password"></ion-input>
                </ion-item>
                <ion-col *ngIf="password.invalid && (password.dirty || password.touched)"
                         class="alert alert-danger">
                    <span class="error-msg">{{ getErrorMessage('password') }}</span>
                </ion-col>
            </div>
            <ion-item [href]="'/forgot'" routerDirection="forward" text-center class="forgot-btn">
                <ion-label color="white">Forgot password?</ion-label>
            </ion-item>
            <ion-item class="submit-btn-container">
                <ion-button slot="" size="normal" class="submit-btn ion-col-3" expand="block" no-padding
                            (click)="submitLogin()" color="orange" [disabled]="!loginForm.valid">Login
                </ion-button>
            </ion-item>
        </form>
    </ion-list>
    <section class="bottom-buttons">
        <ion-item [href]="'/register'" routerDirection="forward" text-center>
            <ion-label color="white">Have no account yet?</ion-label>
        </ion-item>
    </section>
    <ion-item text-center>
    <ion-label color="white" (click)="submitLogin('loxley.gabryel@lnvoke.net','111111')">Test login</ion-label>
    </ion-item>
</ion-content>
