:host {
  --ion-toolbar-background-color: #383840;
}
ion-header {
  ion-toolbar {
    .toolbar-container {
      ion-title{
        font-weight: 500;
        text-align: left!important;
      }
    }
    ion-item {
    }
  }
}
ion-content {
  section {
    padding-bottom: 0;
  }
  background-color: #33333D;
  form {
    background-color: #33333D;
    color: #fff;
    .input-container {
      ion-item {
        background: #33333D;
        color: #fff;
        border-bottom: 1px solid #fff;
      }
    }
    .alert {
      color: #a6a6a6;
    }
  }
  .submit-btn {
    color: #fff;
    font-weight: 700;
  }
}
.input-container {
  height: 15vh;
}
.bottom-buttons {
  margin-top: 10vh;
  ion-label {
    text-decoration: underline;
  }
}