:root {
  //--inner-border-width: 0 0 0 0!important;
}
$button-md-box-shadow : none;
ion-content {
  section {
    padding-bottom: 0;
    margin-top: 45vh;
  }
  background-color: rgb(51, 51, 61);
  ion-card {
    box-shadow: none !important;
    //border: 1px solid red;
  }
  .inf-list {
    ion-list {
      min-height:25vh;
    }
    color: #000;
    animation: 0.7s slideInUp linear;
    .transaction-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 15px;
      width: 100%;
      align-items: center;
      &.enable-edit {
        .edit-button {
          display: block;
        }
        .cost {
          display: none;
        }
      }
      .cost {
        display: block;
      }
      .edit-button {
        display: none;
        color: #fff;
        background: #FFCB37;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-right: 15px;
        ion-icon {
          font-size: 20px;
        }
      }
    }
    .list-title {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      font-size: 20px;
    }
    .col div {
      padding: 5px;
    }
    .input-wrapper {
      border: 1px solid #fff !important;
    }
    .item-inner {
      border: none !important;
    }
    .datetime {
      color: #919191;
    }
  }
  :host {
    --ion-color-base: red;
  }
  .add-btn {
    bottom: -4vh;
    ion-fab-button {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 100;
      &::after {
        content: '';
        background-color: #fff;
        position: absolute;
        top: 42%;
        left: -10%;
        width: 68px;
        height: 38px;
        border-bottom-left-radius: 68px;
        border-bottom-right-radius: 68px;
        z-index: -1;
      }
    }
    button.fab-button-native {
      background: red !important;
    }
    svg {
      fill: green;
    }
  }
}
.svg-card {
  //overflow: ;
  margin:0 10%;
  overflow: unset;
}
.decrease-color {
  color: red;
}

.increase-color {
  color: green;
}

.hide-header {
  margin-top: -56px;
  transition: margin-top 700ms;
}

.show-header {
  margin-top: 0px;
  transition: margin-top 700ms;
}

.header {
  transition: margin-top 700ms;;
}

#circle-line {
  stroke-dasharray: 870.015;
  //stroke-dashoffset: 870.015;
  animation-delay: 2s;
  animation: circle-anim 1s linear;
  stroke: #04b97f;
  stroke-width: 8px;
  fill: transparent;
}

@keyframes circle-anim {
  from {
    stroke-dashoffset: 870.015;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes qq {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(100px, 0);
  }
}

.inner-scroll.scroll-y.overscroll {
  padding: 0;
}

.inf-list {
  width: 110%;
  padding: 0;
  margin: 0 0 0 -16px;
  border-radius: 25px 25px 0 0;
}
.svg-card {
  position: fixed;
}
.price-card {
  position: relative;
  height: 34vh;
  .price-card-content {
    color: #fff;
    position: absolute;
    top: 12vh;
    left: 0;
    width: 100%;
    text-align: center;
    animation: zoomIn 1s;
    div {
      margin-bottom: 10px;
    }
    //.price-card-title {
    //  animation: zoomIn 0.7s;
    //}
    .price-card-cost {
      //animation: zoomIn 1s;
      font-size: 30px;
    }
    //.price-card-inf {
    //  animation: zoomIn 1.3s;
    //}
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

ion-infinite-scroll-content {
  background: #fff !important;
    min-height:115px;
}

ion-infinite-scroll {

}

:host {
  --my-bg: red;
  --ion-toolbar-background-color: rgb(51, 51, 61);
  --buttonface: red;
}

ion-footer {
  ion-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    ion-buttons {
      color: #fff;
      font-size: 24px;
      margin: 0 10px;
      .footer-btn {
        border: none!important;
        background: var(--buttonface, #f00);
        //background-color:var(--my-bg);
      }
    }

  }
}
.footer-md::before {
  background: none;
}