<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>

        </ion-buttons>
        <ion-title color="white" slot="start">Add transaction</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding (click)="contentClick()">
    <ion-list class="select-container">
        <ion-item no-padding no-border>
            <ion-label [hidden]="true">Select type</ion-label>
            <ion-select placeholder="Select One" slot="start" [(ngModel)]="transactionType">
                <ion-select-option value="decrease">Outcoming</ion-select-option>
                <ion-select-option value="increase">Incoming</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>

    <ion-list>
        <form [formGroup]="transactionForm">
            <ion-item-group>
                <ion-item no-padding no-border>
                    <ion-label>Price</ion-label>
                    <ion-input name="cost" formControlName="cost" placeholder=""></ion-input>
                </ion-item>
                <ion-item no-padding no-border>
                    <ion-label position="floating">Comment</ion-label>
                    <ion-input name="description" formControlName="description"></ion-input>
                </ion-item>
                <div *ngIf="cost.invalid && (cost.dirty || cost.touched)" color="danger"
                         class="alert alert-danger">
                    <span class="error-msg">{{ getErrorMessage('cost') }}</span>
                </div>
                <div *ngIf="description.invalid && (description.dirty || description.touched)" color="danger" class="alert alert-danger">
                    <span class="error-msg">{{ getErrorMessage('description') }}</span>
                </div>
                <ion-item>
                    <ion-button (click)="submitPurchase()">Submit</ion-button>
                </ion-item>
            </ion-item-group>
        </form>
    </ion-list>
    <ion-fab class="cancel-fab" vertical="bottom" horizontal="end" slot="fixed">
        <button class="cancel-btn" color="light" routerDirection="forward" (click)="cancel()">
            Cancel
        </button>
    </ion-fab>
</ion-content>
