<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>

        </ion-buttons>
        <ion-title>addPurchase</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-radio-group [(ngModel)]="transactionType">
            <ion-item>
                <ion-label>Add money</ion-label>
                <ion-radio slot="start" value="increase"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Add purchase</ion-label>
                <ion-radio slot="start" value="decrease"></ion-radio>
            </ion-item>
        </ion-radio-group>
        <form [formGroup]="transactionForm">
            <ion-item-group *ngIf="transactionType == 'increase'">
                <ion-item-divider>
                    <ion-label>Add money</ion-label>
                </ion-item-divider>

                <ion-item>
                    <ion-label>Amount</ion-label>
                    <ion-input name="cost" formControlName="cost" placeholder=""></ion-input>
                </ion-item>
                <div *ngIf="cost.invalid && (cost.dirty || cost.touched)" color="danger"
                     class="alert alert-danger">
                    <span class="error-msg">{{ getErrorMessage('cost') }}</span>
                </div>
                <ion-item>
                    <ion-button (click)="submitPurchase()">Submit</ion-button>
                </ion-item>
            </ion-item-group>
            <ion-item-group *ngIf="transactionType == 'decrease'">
                <ion-item-divider>
                    <ion-label>Add purchase</ion-label>
                </ion-item-divider>

                <ion-item>
                    <ion-label>Amount</ion-label>
                    <ion-input name="cost" formControlName="cost" placeholder=""></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Comment</ion-label>
                    <ion-input name="description" formControlName="description"></ion-input>
                </ion-item>
                <div *ngIf="cost.invalid && (cost.dirty || cost.touched)" color="danger"
                         class="alert alert-danger">
                    <span class="error-msg">{{ getErrorMessage('cost') }}</span>
                </div>
                <div *ngIf="description.invalid && (description.dirty || description.touched)" color="danger" class="alert alert-danger">
                    <span class="error-msg">{{ getErrorMessage('description') }}</span>
                </div>
                <ion-item>
                    <ion-button (click)="submitPurchase()">Submit</ion-button>
                </ion-item>
            </ion-item-group>
        </form>
    </ion-list>
    <ion-fab class="cancel-fab" vertical="bottom" horizontal="end" slot="fixed">
        <button class="cancel-btn" color="light" routerDirection="forward" (click)="cancel()">
            Cancel
        </button>
    </ion-fab>
</ion-content>
