// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-item.align-button.in-list.item .input-wrapper{
  justify-content: center!important;
}
//.add-btn {
//  bottom: 10vh;
//  ion-fab-button{
//    button.fab-button-native{
//      background: red!important;
//    }
//    svg {
//      fill: green!important;
//    }
//  }
//}
.modal.modal-ios.hydrated.show-modal {
  /deep/.select-text {
    //--color: red;
    background-color: greenyellow;
    color: red;
  }
}
$select-md-placeholder-color: pink;
::ng-deep .select-text {
  --color: blue;
  background-color: red!important;

}