<!--<ion-header>-->
    <!--<ion-toolbar>-->
        <!--<ion-title color="white">-->
            <!--Office managment app-->
        <!--</ion-title>-->
    <!--</ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content padding>-->
    <!--&lt;!&ndash;<ion-list>&ndash;&gt;-->
        <!--&lt;!&ndash;<ion-item-sliding *ngFor="let link of listOfButtons">&ndash;&gt;-->
            <!--&lt;!&ndash;<ion-item [href]="'/' + link" routerDirection="forward">&ndash;&gt;-->
                <!--&lt;!&ndash;<ion-label>{{link}}</ion-label>&ndash;&gt;-->
            <!--&lt;!&ndash;</ion-item>&ndash;&gt;-->
        <!--&lt;!&ndash;</ion-item-sliding>&ndash;&gt;-->
    <!--&lt;!&ndash;</ion-list>&ndash;&gt;-->
    <!--<div class="logo-container">-->
        <!--<img class="wallet-logo" src="../../assets/icon/wallet.svg" alt="" />-->
    <!--</div>-->
    <!--<ion-fab vertical="center" horizontal="center" slot="fixed">-->
        <!--<ion-fab-button class="start-btn" (click)="pressStart()">-->
            <!--Start-->
        <!--</ion-fab-button>-->
    <!--</ion-fab>-->
    <!--<section class="bottom-buttons">-->
        <!--<ion-item text-center>-->
            <!--<ion-label color="white" (click)="testLogin()">Test login</ion-label>-->
        <!--</ion-item>-->
    <!--</section>-->
<!--</ion-content>-->
