:host {
  --ion-toolbar-background-color: #383840;
  --size: 20px;
  --ion-fab-button-size: 20px;
}
:root {
  --size: 20px;
}
ion-header {
  ion-toolbar {
    .toolbar-container {
      ion-title{
        font-weight: 500;
        text-align: left!important;
      }
    }
    ion-item {
    }
  }
}

ion-content {
  background-color: #33333D;
  .logo-container {
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .wallet-logo {
      width: 40vh;
    }
  }
  ion-fab {
    margin-top: 10vh;
    .start-btn {
      --size: 20vh;
      --background: #F9AA33;
      font-size: 30px;
      font-weight: bold;
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      position: relative;
      #shadow-root {
        button {
          border:1px solid red;
          z-index: 88888;
        }
      }
    }
  }
  .bottom-buttons {
    margin-top: 30vh;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    //--size: 30vh
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    //--size: 10vh
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    //--size: 20vh
  }
}