:host {
  --ion-toolbar-background-color: #383840;
}
ion-header {
  ion-toolbar {
    .toolbar-container {
      ion-title{
        font-weight: 500;
        text-align: left!important;
      }
    }
    ion-item {
    }
  }
}
ion-content {
  ion-title {
    margin: 10vh 0 5vh 0;
    color: #fff;
    font-size: 5vh;
    div {
      margin:10px 0;
    }
  }
  .alert {
    margin-top: 3px;
  }
  section {
    padding-bottom: 0;
  }
  background-color: #33333D;
  form {
    background-color: #33333D;
    color: #fff;
    .input-container {
      ion-item {
        background: #33333D;
        color: #fff;
        border: 1px solid #fff;
      }
    }
    .alert {
      color: #a6a6a6;
    }
  }
  .submit-btn {
    color: #fff;
    font-weight: 700;
  }
}
.input-container {
  height: 12vh;
}
.bottom-buttons {

}
ion-back-button {
  color: #fff;
}
.submit-btn-container {
  margin-left: -15px;
  margin-top: -10vh;
  width: 55vh;
  ion-button {
    --border-radius: 8px;
    --height: 8vh;
  }
}
ion-button {
  width: 100%;
}
.bottom-buttons {
  margin-top: -4vh;
  ion-label {
    font-size: 12px;
  }
}