<ion-content padding>
    <ion-title text-center>
        <div>Office</div>
        <div>Management</div>
    </ion-title>
    <ion-list>
        <form [formGroup]="regform">
            <div class="input-container">
                <ion-item>
                    <!--<ion-label position="fixed">Enter username</ion-label>-->
                    <ion-input class="form-control" id="username" formControlName="username" placeholder="Enter username"></ion-input>
                </ion-item>
                <div *ngIf="username.invalid && (username.dirty || username.touched)" color="danger" class="alert alert-danger">
                    <span class="error-msg">{{ getErrorMessage('username') }}</span>
                </div>
            </div>
            <div class="input-container">
                <ion-item>
                    <!--<ion-label position="fixed">Enter email</ion-label>-->
                    <ion-input name="email" formControlName="email" placeholder="Enter email"></ion-input>
                </ion-item>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" color="danger" class="alert alert-danger">
                    <span class="error-msg">{{ getErrorMessage('email') }}</span>
                </div>
            </div>
            <div formGroupName="matchingPasswords">
                <div class="input-container">
                    <ion-item>
                        <!--<ion-label position="fixed">Enter password</ion-label>-->
                        <ion-input name="password" type="password" formControlName="password" placeholder="Enter password"></ion-input>
                    </ion-item>
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" color="danger" class="alert alert-danger">
                        <span class="error-msg">{{ getErrorMessage('password') }}</span>
                    </div>
                </div>
                <div class="input-container">
                    <ion-item>
                        <!--<ion-label position="fixed">Confirm password</ion-label>-->
                        <ion-input name="confirm_password" type="password" formControlName="confirm_password" placeholder="Confirm password"></ion-input>
                    </ion-item>
                    <div *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)" color="danger" class="alert alert-danger">
                        <span class="error-msg">{{ getErrorMessage('confirm_password') }}</span>
                    </div>
                </div>
            </div>
            <div class="input-container">
                <ion-row *ngIf="password.valid && confirm_password.valid && regform.get('matchingPasswords').invalid">
                    <ion-col class="error-msg">
                        <sup ion-text>Passwords do not match</sup>
                    </ion-col>
                </ion-row>
            </div>
            <!--<ion-item class="submit-btn-container">-->
                <!--<ion-button-->
                        <!--slot="" size="normal"-->
                        <!--class="submit-btn"-->
                        <!--color="primary"-->
                        <!--(click)="submitRegister()"-->
                        <!--[disabled]="!regform.valid"-->
                        <!--color="orange">-->
                    <!--Submit-->
                <!--</ion-button>-->
            <!--</ion-item>-->
            <ion-item class="submit-btn-container">
                <ion-button slot="" size="normal" class="submit-btn ion-col-3" expand="block" no-padding
                            (click)="submitRegister()" color="orange" [disabled]="!regform.valid">Create account
                </ion-button>
            </ion-item>
        </form>
    </ion-list>
    <section class="bottom-buttons">
        <ion-item [href]="'/login'" routerDirection="forward" text-center>
            <ion-label color="white">Already have one? Sign in</ion-label>
        </ion-item>
    </section>
</ion-content>
