ion-item{
  ion-label{
    font-size:14px;
  }

  .submit-btn{

  }
  ion-item .item-native,
  ion-item .item-inner{
    border: none;
  }

}
.error-msg{
  margin-top: 5px;
  color: #b3171f;
  font-size: 12px;
  text-align: center;
  display: block;
}
.input-container{
  height: 10vh;
}