<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title color="white">Settings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <div class="img-container">
            <img src="../../assets/icon/niger.png">
        </div>
        <form [formGroup]="changePassForm">
            <div class="input-container">
                <ion-item *ngIf="!isEditName">
                    <ion-label>{{username.value}}</ion-label>
                    <ion-icon name="md-create" *ngIf="!isEditName" (click)="editClick(qqq)"></ion-icon>
                </ion-item>
                <ion-item *ngIf="isEditName">
                    <ion-input class="form-control" id="username" formControlName="username"
                               placeholder="Enter username" #qqq></ion-input>
                    <ion-icon name="md-checkmark" *ngIf="isEditName" (click)="changeUsername()" class="check-icon"></ion-icon>
                </ion-item>
                <div *ngIf="username.invalid && (username.dirty || username.touched)" color="danger"
                     class="alert alert-danger">
                    <span class="error-msg">{{ getErrorMessage('username') }}</span>
                </div>
            </div>
            <ion-item class="btn change-btn">
                <ion-button
                        size="normal"
                        class="submit-btn ion-col-3"
                        color="transparent"
                        (click)="goToChangePass()">
                    Change password
                </ion-button>
            </ion-item>
            <ion-item class="btn logout-btn" text-center>
                <ion-button
                        size="normal"
                        class="submit-btn ion-col-3"
                        color="transparent"
                        text-center
                        (click)="logout()">
                    Logout
                </ion-button>
            </ion-item>
        </form>
    </ion-list>
</ion-content>
